@import url("https://cdn.rawgit.com/mfd/09b70eb47474836f25a21660282ce0fd/raw/e06a670afcb2b861ed2ac4a1ef752d062ef6b46b/Gilroy.css");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: Gilroy, sans-serif !important;
}

#google_translate_element {
    display: none !important;
}

#documents-upload-drop {
    display: none !important;
}

.job-actions-back {
    display: none !important;
}

.job-actions-share {
    display: none !important;
}

#bread-crumbs .step {
    width: calc(33.33% - 20px) !important;
    margin: 0px !important;
    padding: 10px !important;
}

#bread-crumbs {
    display: flex !important;
    margin: 0px !important;
}

.progressbar {
    width: 100% !important;
    padding: 0px !important;
}

#upload-buttons {
    margin: 40px 0px !important;
}

#upload-buttons>div {
    margin-bottom: 0px !important;
}

.continueSection {
    margin: 40px 0px !important;
}

button {
    font-family: Gilroy, sans-serif !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    letter-spacing: 0px !important;
    line-height: 22px !important;
    padding: 18px 30px !important;
    height: unset !important;
    border-radius: 16px !important;
    background-color: #4F01D8 !important;
    color: white !important;
}

button:disabled {
    opacity: 0.5 !important;
}

button:hover {
    background-color: #6720e2 !important;
}

#resume-upload-drop>span>button {
    border: 2px solid #4F01D8 !important;
    border-radius: 16px !important;
    background-color: white !important;
    color: #4f01db !important;
}

.job-header>span {
    font-size: 48px !important;
    font-weight: 700 !important;
    line-height: 50px !important;
}

@media only screen and (max-width: 768px) {
    .job-header>span {
        font-size: 30px !important;
        line-height: 38px !important;
    }
}

.job-description * {
    font-family: 'IBM Plex Sans', sans-serif !important;
    font-size: 18px !important;
}